body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #71ccca;
    color: #001f3f;
}

a {
    color: #001f3f;
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Consolas, "Courier New", monospace;
}